/**
 * PyCode plugin: it embeds a Python script hosted in a remote repository.
 *
 * style.css: it defines the screen styles used by PyCode plugin.
 *
 * @author Torpedo <dgtorpedo@gmail.com>
 * @license GPL 2 (http://www.gnu.org/licenses/gpl.html)
 * @package style
 */

/*____________ docstrings ____________*/
.dokuwiki blockquote.quote_pycode {
    margin-bottom: 0;
}

/*____________ line numbers ____________*/
.dokuwiki div.nums_pycode {
    padding-top: 2px;
    float: left;
    width: auto;
}

.dokuwiki dl.code.nums_pycode dt {
    visibility: hidden;
    margin-left: 0 !important;
}

.dokuwiki dl.code.nums_pycode dd {
    margin-right: 1px;
}

.dokuwiki pre.code.nums_pycode {
    border-right: none !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    padding-right: 0;
    padding-left: 0;
}

/*____________ code ____________*/
.dokuwiki div.code_pycode {
    padding-top: 2px;
    overflow: auto;
}

.dokuwiki img.code_pycode {
    margin-right: 2px;
    height: 16px;
    width: 16px;
}

.dokuwiki dl.code.code_pycode dt {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: normal;
}

.dokuwiki pre.code.code_pycode {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*____________ button for submit data ____________*/
.dokuwiki input.button.ok_pycode {
    margin-left: .6em;
}

/*____________ pycode wizard ____________*/
#pycode__wiz {
    width: 450px;
}

#pycode__wiz fieldset {
    width: 400px;
    margin: 0;
    text-align: left;
}

#pycode__wiz div#pycode__left {
    width: 50%;
    float: left;
}

#pycode__wiz div#pycode__right {
    margin-left: 50%;
}

#pycode__wiz input#pycode__lns-from,
#pycode__wiz input#pycode__lns-to {
    width: 20%;
}

#pycode__wiz input#pycode__def,
#pycode__wiz input#pycode__cls,
#pycode__wiz input#pycode__title {
    width: 100%;
}

#pycode__wiz label {
    padding-right: 1em;
}

#pycode__wiz input#pycode__src-url {
    width: 100%;
}

#pycode__wiz button {
    margin-bottom: 0.5em;
}

#pycode__wiz input#pycode__insert {
    margin-top: 0.5em;
}
